.login-button {
  text-align: center;
  font-size: $font-size-l;
  padding: $s-size;
  background-color: $blue;
  color: white;
  border: none;
  font-weight: 300;
  width: 20rem;
  border-radius: 4px;
}